body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.episode:not(:last-child)::after, .similarCharacter:not(:last-child)::after {
  padding: 0 0.5rem;
  content: '-';
  color: #c7c7c7;
}
 
/* Utilities */
.flex-1 {
  flex: 1;
}
.flex-5 {
  flex: 5;
}